/*
 * ----------------------------------------------------------------------------------
 * ICTU / WP Stelselplaat plugin
 * ----------------------------------------------------------------------------------
 * Description:   CSS-file used if JS is enabled.
 * Version:       1.0.6
 * Version desc:  Toegankelijkheidsissues. Bugfixes.
 * Author:        Paul van Buuren
 * Author URI:    https://wbvb.nl
 * License:       GPL-2.0+
 * @link          http://wbvb.nl/themes/wp-rijkshuisstijl/
 * ----------------------------------------------------------------------------------
 */
/*
 * ----------------------------------------------------------------------------------
 * ICTU / WP Stelselplaat plugin
 * ----------------------------------------------------------------------------------
 * Plugin Name:   ICTU / WP Stelselplaat plugin
 * Plugin URI:    https://github.com/ICTU/digitale-overheid-wordpress-plugin-stelselcatalogus/
 * Description:   De mogelijkheid om een stelselplaat te tonen op een pagina
 * Version:       0.0.4
 * Version desc:  Blokken donkerblauw_vol gemaakt
 * Author:        Paul van Buuren
 * Author URI:    https://wbvb.nl
 * License:       GPL-2.0+
 * @link          http://wbvb.nl/themes/wp-rijkshuisstijl/
 * ----------------------------------------------------------------------------------
 */
div#stelselplaat-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 60.5548854%;
  padding-top: 25px;
  height: 0;
  /* Legenda */
}
div#stelselplaat-container h3 {
  padding: .5em;
}
div#stelselplaat-container #adaptoratio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#stelselplaat-container .stelsel {
  display: block;
  visibility: visible;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 20px 0 0;
  z-index: 100;
}
div#stelselplaat-container .stelsel > li {
  padding: 0;
  background: none;
  position: absolute;
  display: block;
  text-align: center;
}
div#stelselplaat-container .stelsel .popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  text-align: left;
  overflow: hidden;
  border: 2px solid #01689b;
  margin-top: 0;
}
div#stelselplaat-container .stelsel .popup p,
div#stelselplaat-container .stelsel .popup a,
div#stelselplaat-container .stelsel .popup h2 {
  color: black;
}
div#stelselplaat-container .stelsel .popup p,
div#stelselplaat-container .stelsel .popup h2 {
  margin: 0;
  padding: 10px;
}
div#stelselplaat-container .stelsel .popup .statusBasisregistratie {
  overflow: hidden;
  clear: both;
  display: block;
  margin: .5em 0 1em 0;
}
div#stelselplaat-container .stelsel .popup .dossier-link {
  display: inline-block;
  float: right;
  padding: 5px 10px 5px 5px;
}
div#stelselplaat-container .stelsel .popup .dossier-link a {
  display: block;
  padding: 5px .5em;
  background: #01689b;
  color: #fff;
  position: relative;
  padding-right: 1.5em;
}
div#stelselplaat-container .stelsel .popup .dossier-link a:after {
  font-weight: normal;
  font-family: "RO Icons";
  display: inline-block;
  vertical-align: middle;
  content: "";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 80%;
  line-height: 1em;
  position: absolute;
  right: 0;
  top: 8px;
  width: 1.5em;
}
div#stelselplaat-container .stelsel .popup h2 {
  background: #01689b;
  color: #fff;
}
div#stelselplaat-container .stelsel .popup h3 {
  color: black;
}
div#stelselplaat-container .stelsel .popup .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 8px 2px;
  font-family: Arial, Helvetica, sans-serif;
  background: #d52b1e;
  border: 1px solid #d52b1e;
  color: black;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}
div#stelselplaat-container .stelsel .popup .close:before {
  content: 'X';
  color: white;
  display: block;
  border: 1px solid white;
  background: #d52b1e;
  border: 1px solid #d52b1e;
  speak: none;
}
div#stelselplaat-container .stelsel .popup .close span {
  display: block;
  text-indent: 999em;
  height: 1px;
  width: 1px;
  color: white;
}
div#stelselplaat-container .stelsel .popup .close:hover,
div#stelselplaat-container .stelsel .popup .close:active,
div#stelselplaat-container .stelsel .popup .close:focus {
  text-decoration: none;
  color: black !important;
  border-color: #fff !important;
  background: none;
}
div#stelselplaat-container .legenda {
  vertical-align: top;
  background: #fff;
  padding: 1em;
  margin-right: 20px;
  display: block;
}
div#stelselplaat-container .legenda,
div#stelselplaat-container .legenda li {
  list-style-type: none;
  float: right;
}
div#stelselplaat-container .legenda li + li {
  margin-top: 0.5em;
}
div#stelselplaat-container .legenda li {
  background: none;
  position: relative;
  float: none;
  overflow: hidden;
  height: 2rem;
  line-height: 1.6;
}
div#stelselplaat-container .legenda li.gereed:before,
div#stelselplaat-container .legenda li.nietgereed:before {
  border: 1px solid black;
  background: #01689b;
  content: ' ';
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  float: left;
  margin: .1em .2em 0 0;
}
div#stelselplaat-container .legenda li.nietgereed:before {
  background: #01689b;
}
div#stelselplaat-container .legenda li.legenda_geo {
  padding-left: 1.4rem;
  background: url('../images/geo.svg') no-repeat left center;
  background-size: 1.2rem 1.2rem;
}
div#stelselplaat-container .legenda span {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
div#stelselplaat-container #BRV_li,
div#stelselplaat-container #BRI_li,
div#stelselplaat-container #BLAU_li,
div#stelselplaat-container #BRK_li,
div#stelselplaat-container #BRT_li,
div#stelselplaat-container #BGT_li,
div#stelselplaat-container #BRO_li,
div#stelselplaat-container #WOZ_li,
div#stelselplaat-container #BAG_li,
div#stelselplaat-container #NHR_li,
div#stelselplaat-container #BRP_li,
div#stelselplaat-container #BRP-ni_li,
div#stelselplaat-container #BRP-i_li {
  background: #01689b;
  height: 21%;
  top: 90%;
  width: 14.5%;
  line-height: 1.4;
  padding: 1em;
}
div#stelselplaat-container #BRV_li,
div#stelselplaat-container #BRI_li,
div#stelselplaat-container #BLAU_li,
div#stelselplaat-container #BRK_li,
div#stelselplaat-container #BRT_li,
div#stelselplaat-container #BGT_li,
div#stelselplaat-container #BRO_li,
div#stelselplaat-container #WOZ_li,
div#stelselplaat-container #BAG_li,
div#stelselplaat-container #NHR_li,
div#stelselplaat-container #BRP_li,
div#stelselplaat-container #BRP-ni_li,
div#stelselplaat-container #BRP-i_li,
div#stelselplaat-container #BRV_li a,
div#stelselplaat-container #BRI_li a,
div#stelselplaat-container #BLAU_li a,
div#stelselplaat-container #BRK_li a,
div#stelselplaat-container #BRT_li a,
div#stelselplaat-container #BGT_li a,
div#stelselplaat-container #BRO_li a,
div#stelselplaat-container #WOZ_li a,
div#stelselplaat-container #BAG_li a,
div#stelselplaat-container #NHR_li a,
div#stelselplaat-container #BRP_li a,
div#stelselplaat-container #BRP-ni_li a,
div#stelselplaat-container #BRP-i_li a {
  color: #fff;
}
div#stelselplaat-container #BRV_li .popup,
div#stelselplaat-container #BRI_li .popup,
div#stelselplaat-container #BLAU_li .popup,
div#stelselplaat-container #BRK_li .popup,
div#stelselplaat-container #BRT_li .popup,
div#stelselplaat-container #BGT_li .popup,
div#stelselplaat-container #BRO_li .popup,
div#stelselplaat-container #WOZ_li .popup,
div#stelselplaat-container #BAG_li .popup,
div#stelselplaat-container #NHR_li .popup,
div#stelselplaat-container #BRP_li .popup,
div#stelselplaat-container #BRP-ni_li .popup,
div#stelselplaat-container #BRP-i_li .popup {
  color: black;
  min-height: 700px !important;
  overflow: hidden;
}
div#stelselplaat-container #BRV_li.haspopup,
div#stelselplaat-container #BRI_li.haspopup,
div#stelselplaat-container #BLAU_li.haspopup,
div#stelselplaat-container #BRK_li.haspopup,
div#stelselplaat-container #BRT_li.haspopup,
div#stelselplaat-container #BGT_li.haspopup,
div#stelselplaat-container #BRO_li.haspopup,
div#stelselplaat-container #WOZ_li.haspopup,
div#stelselplaat-container #BAG_li.haspopup,
div#stelselplaat-container #NHR_li.haspopup,
div#stelselplaat-container #BRP_li.haspopup,
div#stelselplaat-container #BRP-ni_li.haspopup,
div#stelselplaat-container #BRP-i_li.haspopup {
  opacity: 1 !important;
  z-index: 9 !important;
  overflow: visible !important;
  top: 10px !important;
  left: 150px !important;
  height: 620px !important;
  width: 700px !important;
}
div#stelselplaat-container #BRV_li,
div#stelselplaat-container #BRI_li,
div#stelselplaat-container #BLAU_li,
div#stelselplaat-container #BRK_li,
div#stelselplaat-container #BRT_li {
  top: 8%;
}
div#stelselplaat-container #BRV_li {
  left: 2%;
}
div#stelselplaat-container #BRI_li {
  left: 18%;
}
div#stelselplaat-container #BLAU_li {
  left: 34%;
}
div#stelselplaat-container #BRK_li {
  left: 50%;
  width: 25%;
}
div#stelselplaat-container #BRT_li {
  right: 2%;
}
div#stelselplaat-container #BGT_li {
  top: 35%;
  right: 2%;
  height: 13%;
}
div#stelselplaat-container #BRO_li {
  top: 52%;
  right: 2%;
  height: 13%;
}
div#stelselplaat-container #WOZ_li {
  top: 35%;
  left: 57%;
}
div#stelselplaat-container #BAG_li {
  top: 70%;
  right: 2%;
  width: 25%;
}
div#stelselplaat-container #NHR_li {
  top: 70%;
  left: 38%;
}
div#stelselplaat-container #BRP_li {
  width: 25%;
  left: 2%;
  top: 70%;
}
div#stelselplaat-container #BRP-ni_li,
div#stelselplaat-container #BRP-i_li {
  width: 11%;
  height: 10%;
}
div#stelselplaat-container #BRP-ni_li {
  top: 78%;
  left: 3%;
}
div#stelselplaat-container #BRP-i_li {
  top: 78%;
  left: 15%;
}
.tab {
  display: none;
}
.tab {
  left: 0;
  position: absolute;
  top: 105px;
  width: 100%;
  padding-bottom: 2em;
  overflow: hidden;
}
li[style*="700px"] {
  overflow: visible !important;
  min-height: auto !important;
}
h2 {
  padding: .5em .5em 0 .5em;
}
/*# sourceMappingURL=stelselplaat-js-enabled.css.map */