
/*!
 * ----------------------------------------------------------------------------------
 * ICTU / WP Stelselplaat plugin
 * ----------------------------------------------------------------------------------
 * Plugin Name:   ICTU / WP Stelselplaat plugin
 * Plugin URI:    https://github.com/ICTU/digitale-overheid-wordpress-plugin-stelselcatalogus/
 * Description:   De mogelijkheid om een stelselplaat te tonen op een pagina
 * Version:       1.0.5
 * Version desc:  Toegankelijkheidsissues. Bugfixes.
 * Author:        Paul van Buuren
 * Author URI:    https://wbvb.nl
 * License:       GPL-2.0+
 * @link          http://wbvb.nl/themes/wp-rijkshuisstijl/
 * ----------------------------------------------------------------------------------
 */



@import 'kleuren.less';



.stelselplaat_css();



.stelselplaat_css() {
  
    div#stelselplaat-container  {

      background: @grijs_1;
  
      abbr {
        border-bottom-style: none;
        &:hover {
          border-bottom-style: dotted;
        }
      }
  
      img {
        max-width: none;
        height: inherit;
        width: inherit;
      }
      
      .stelsel {
        display: none;
        visibility: hidden; 
      }      
      
      h2,
      h3 {
        margin: 0;
      }
  
      h2 {
        font-size: 1.4em;
      }
      h3 {
        font-size: 1.3em;
      }
  

      .legenda {
        display: none;
      }
  
      .stelsel {
        
        li {
          font-size: 80%;
          overflow: hidden;
          padding: .2em;
          
          strong {
            display: block;
            margin-top: .5em;
          }
          em + strong {
            margin-top: 0;
          }        
        }
  

  

      .relaties {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      & > li > a {
        width: 100%;
        height: 100%;
        display: block;
      }

      // =============================================================================
      // gereed en niet gereed
      .gereed {
      .nietgereed {
        .mod.box.popup {
          border-color: @color_gereed;
          background: @color_gereed_10pc;
    
          h2,
          h3 {
            background: @color_gereed_20pc;
            color: @txt;
          } 
          .close {
            background: @color_gereed;
            text-decoration: none;
            color: #fff;
          }

          .tabs {
            background: none repeat scroll 0 0 @color_gereed_20pc;
            border-bottom: 1px solid @color_gereed;
          }          
        }
      }

    } // .stelsel


    ul, ol {
      &, li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }
    }

    div.stelselplaat .stelsel > li > a:hover {
      text-decoration: none;
    }

    
  
    .shield {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 8;
      background: url(../images/white-80.png) repeat scroll 0 0 transparent;
    }
  
    
    
    .geometrie {
      float: right;
    }
    img.geometrie {
      height: 16px;
      width: 16px;
      margin-top: 2px;
    }
    
    .zij > ul {
      padding: 0;
    }
  
  
    .zij li:hover ul {
      display: block;
      z-index: 9;
    }
    .ik + .zij ul ul {
      left: 75px;
    }
    
    .mod.box .zij ul ul li {
      background: none;
      padding: 3px;
      margin: 0;
    }
    
  
  
  
    /* Fix issue with nested li items. em is applied each time. */
  .mod.box .zij ul ul li {
      margin-bottom: 0;
    }
  
    div.br ul {
      margin: 0;
      list-style-type: none;
      padding: 10px;
    }
    #container div.br h3 {
      margin-bottom: 0.4343em;
      margin-top: 1em;
    }
  
  
    div#page.stelselplaat {
      width: 910px;
      border: 1px solid rebeccapurple;
      width: 100%;
    }
  
  
    div.stelselplaat a {
      text-decoration: none;
    }
    div.stelselplaat ul a:hover, div.stelselplaat ul a:visited:hover {
      text-decoration: underline;
    }
    /* tans style*/
    
      
    .tab {
      div.begrip {
        clear: left;
      }
      ul.authentiekegegevens,
      ul.gegevens,
      ul.begrippen {
        li {
          float: left;
          width: 48%;
          margin-bottom: 0.5em;
          padding: .1em .5em;
        }
      }    
    }
  
  
    .mod.box .zie_ook ul li.external_link,
    .zie_ook ul li.external_link {
      background: url("../images/directpijl.gif") no-repeat scroll 0 -3px transparent;
    }
  
    .zie_ook ul li {
      margin-bottom: 0.5em;
      padding-left: 1.5em;
    }
    .stelsel .gereed .zie_ook,
    .stelsel .gereed .extra_tab {
      color: #000000;
    }
    .stelsel .mod.box ol {
      margin-left: 10px;
      padding-left: 20px;
    }
    
  
    .object {
      color: @txt;
      font-family: Verdana, Arial, sans-serif;
      position: relative;
      top: -85px;
      background: @bg_ik;
      padding: 2px;
      border: 2px solid #999;
      border-width: 0 3px 3px;
      border-style: solid;
    }
    .gereed .object {
      border-color: @color_gereed;
    }
    .nietgereed .object {
      border-color: @color_nietgereed;
    }
  
  
  
    /* Second block with items requires different margins. */
      .ik + .zij {
        li.nietgereed div.statusVerbinding {
          margin-left: -152px;
        }
        li.gereed div.statusVerbinding {
          margin-left: -132px;
        }
      }
    } // .stelsel 



    .zij {
      ul {
        &, li {
          padding-left: 0;
          margin-left: 0;
        }
      }
    }

    
    .leverancier {
      clear: both;
      color: @txt;
  
      ul {
        overflow: hidden;
  
        li {
          padding: 5px 10px;
          margin: 0 5px 5px 0;
          display: inline-block;
          min-width: 90px;
          vertical-align: top;
          position: relative;
          background: @color_gereed;
          color: @wit;
  
          em {
            position: absolute;
            background: @bg_ik;
            color: #333;
            margin-top: 5px;
            display: none;
            left: 0;
            padding: 2px 5px;
            border: 1px solid #AAA;
            width: 98px;
            font-style: normal;
          }
          
          &:hover em {
            display: block;
            z-index: 99;
          }
        }
      }
      
      .statusDoorlevering {
        .visuallyhidden();      
        + p {
          .visuallyhidden();      
        }
      }
    }    


    @media only screen and (min-width: ( @break_tablet ) ) {

  
      /* Detailplaten in popup */
      .ik {
        border: 2px solid @color_gereed;
        background: @bg_ik;
        margin: 0;
        display: inline-block;
        width: 30%;
        min-height: 275px;
        color: @txt;
        margin-bottom: 15px;
        float: left;
        padding: .5em;
    
        h3 {
          background: none;
          padding: 0;
        }
    
        li {
          background: @wit;
          display: block;
          color: @txt;
          margin-bottom: 3px;
          padding-left: .2em !important;
          border: 1px solid @grijs;
          
          & ul li {
            margin: .2px .2px .2px .4px;
            border-color: @wit;
            font-size: 100%;
          }
        }    
      }
  

      .zij {
        vertical-align: top;
        display: inline-block;
        color: @txt;
        width: 35%;
        margin: 0;
        padding: 0;
        float: left;
        
        li {
          width: 100%;
          clear: both;
          background: none;
          height: 2em;
  //        border-style: none;
          font-size: 80%;
          margin-bottom: 5px;
          position: relative;
    
          a {
            padding: .1em;
            display: inline-block;
            width: 40%;
            height: 100%;
            position: absolute;
            right: 1em;
            top: 0;
            line-height: 1.8;
            text-align: right;
            padding-right: 1em;
            background: @color_gereed;
            color: @wit;
          }
    
           &:before, 
           &:after {
             width: 1.5em;
             position: absolute;
             right: 0;
             top: 50%;
             height: 4px;
             margin-top: -2px;
             background: @color_gereed;
           }
          
            &.nietgereed {
              &:before, 
              &:after {
                 background: @color_nietgereed;
              }  
            }  
          
          div.statusVerbinding {
            display: none;
            visibility: hidden;
          }
    
          &.gereed div.statusVerbinding {
            background-color: @color_gereed;
            width: 120px;
          }
          &.nietgereed div.statusVerbinding {
            background-color: @color_nietgereed;
            width: 140px;
          }
          
          &:hover {
            div.statusVerbinding {
              display: block;
            }
          }
        }
        
        ul ul {
          position: absolute;
          left: 0;
          top: 0;
          background: @wit;
          color: @txt;
          display: none;
          width: 50%;
        }    
      }
      
      .wordt-gebruikt-door {
        li {
          a {
            right: auto;
            left: 1em;
            text-align: left;
            padding-left: 1em;
            padding-right: inherit;
          }
           &:before {
             content: ' ';
             display: block;
             left: 0;
             right: auto;
           }
        }
      }
      .maakt-gebruik-van {
        li {
          a {
            right: 1em;
            text-align: right;
            padding-right: 1em;
            padding-left: inherit;
          }
           &:after {
             content: ' ';
             display: block;
             right: 0;
           }
        }
      }

      .leverancier {
        text-align: center;
      }    
      
      .ik,
      .zij,
      .leverancier {
  
        h3 {
          text-align: center;
          margin: 0 0 .7em 0;
          padding: .7em .5em;
          font-size: 90%;
        }
      }
      // end @media only screen and (min-width: ( @break_tablet ) ) {
    }
  
  
    .stelsel {
      
      & > li {
//        width: 145px;
//        height: 125px;

    height: 21%;
    width: 14.5%;

      }

      
    }
  
    .br {
      background: @wit;
      padding: 1em;
      margin: 1em;
    }

  }

  @media only screen and (min-width: ( @break_fullwidth ) ) {
    div#stelselplaat-container  {
      #BRV_li, 
      #BRI_li, 
      #BLAU_li, 
      #BRK_li, 
      #BRT_li, 
      #BGT_li, 
      #BRO_li, 
      #WOZ_li, 
      #BAG_li, 
      #NHR_li, 
      #BRP_li, 
      #BRP-ni_li, 
      #BRP-i_li {
        font-size: 1.1rem;
        padding: .5em;
      }
    }
  }
  
}

.nietgebruikt() {
  
  #BRV_li {
  	top: 15px;
  	left: 20px;
  	width: 110px;
  }
  #BRI_li {
  	top: 15px;
  	left: 150px;
  	width: 110px;
  }
  #BLAU_li {
  	top: 15px;
  	left: 280px;
  	width: 110px;
  }
  #BRK_li {
  	top: 15px;
  	left: 440px;
  	width: 225px; /* 17%; */
  }
  #BRT_li {
  	top: 15px;
  	left: 725px;
  }
  #BGT_li {
  	top: 160px;
  	left: 725px;
  	height: 75px;
  }
  #BRO_li {
  	top: 255px;
  	left: 725px;
  	height: 75px;
  }
  #WOZ_li {
  	top: 175px;
  	left: 505px;
  	width: 125px;
  }
  #BAG_li {
  	top: 355px;
  	left: 625px;
  	width: 245px;
  }
  #NHR_li {
  	top: 355px;
  	left: 345px;
  	width: 120px;
  }
  #BRP_li {
  	top: 355px;
  	left: 20px;
  	width: 245px;
  }
  #BRP-ni_li {
  	top: 395px;
  	left: 30px;
  	width: 110px;
  	border: 1px solid #fff;
  	height: 60px;
  }
  #BRP-i_li {
  	top: 395px;
  	left: 145px;
  	width: 110px;
  	border: 1px solid #fff;
  	height: 60px;
  }
  .leverancier ul + p {
  	margin: 7px -1px 0 !important;
  	line-height: 1em;
  }
  #NHR_li .object {
  	top: -105px;
  }
  #BRP-ni_li .object {
  	top: -7px;
  }
  #BRP-i_li .object {
  	top: -7px;
  }
  .mod.box .zij > ul > li {
  	width: 63px;
  }

    
  // niet gebruikt
  div.begrippen-filter {
    width: 200px;
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 9;
    background-color: #dfe6e1;
    
    border: 1px solid #becdc3;
    
    border-top: 0;
    padding: 0;
  
    h2 {
      background-color: #becdc3;
      margin: 0;
      padding: 10px;
      font-weight: normal;
      line-height: 1.2;
    }
    h2:hover {
      cursor: pointer;
      background: @active;
    }
    h2 a,
    h2 a:hover,
    h2 a:visited,
    h2 a:visited:hover {
      color: black;
      text-decoration: none;
    }
    p {
      padding: 10px;
      padding-bottom: 0;
    }
    ul {
      list-style-type: none;
      line-height: 1.2;
      list-style-position: outside;
      margin: 0;
      padding: 10px;
      
      li {
        text-align: left;
        background: #becdc3;
        padding: 0;
        display: block;
        color: @txt;
        margin-bottom: 0.5em;
        a {
          text-align: left;
          background: #becdc3;
          padding: 5px;
          display: block;
          color: @txt;
          text-decoration: none;
          line-height: 1.6;
  
          &.active {
            background: @active;
          }
          &:hover {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }

}

//=========================================================================================================

.visuallyhidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

//=========================================================================================================

