
/*
 * ----------------------------------------------------------------------------------
 * ICTU / WP Stelselplaat plugin
 * ----------------------------------------------------------------------------------
 * Description:   CSS-file used if JS is enabled.
 * Version:       0.0.6
 * Version desc:  Fallbacks voor pijlenschema. 
 * Author:        Paul van Buuren
 * Author URI:    https://wbvb.nl
 * License:       GPL-2.0+
 * @link          http://wbvb.nl/themes/wp-rijkshuisstijl/
 * ----------------------------------------------------------------------------------
 */

.tab {
  display: none;
}

.tab {
  left: 0;
  position: absolute;
  top: 105px;
  width: 100%;
  padding-bottom: 2em;
  overflow: hidden;
}

.tab[style*="-600px"] {
  border: 10px solid red;
  visibility: hidden;
}

h2 {
  padding: .5em .5em 0 .5em;
}

